* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(30, 30, 30);
    color: white;
}

.label {
    fill: white;
}

.axis {
    color: white;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

#song-info-grid {
    display: grid;
    grid-template: 20px repeat(3, 50px) / 190px 60px 300px;
    border: 1px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
    min-height: 175px;
}

.art {
    grid-row: 1/5;
}

.point:hover, .artist:hover, .song:hover, .album:hover {
    cursor: pointer;
}

.artist, .song, .album {
    text-decoration: underline;
}