* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
}

.label {
    fill: white;
}

.axis {
    color: white;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

#song-info-grid {
    display: grid;
    grid-template: 20px repeat(3, 50px) / 190px 60px 300px;
    border: 1px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
    min-height: 175px;
}

.art {
    grid-row: 1/5;
}

.point:hover, .artist:hover, .song:hover, .album:hover {
    cursor: pointer;
}

.artist, .song, .album {
    text-decoration: underline;
}

.checkbox {
    display: inline;
    margin: 8px;
    white-space: nowrap;
}

/* Website layout */

#content-container {
    width: 95%;
    margin: auto;
    background-color: rgb(45, 45, 45);
    padding: 25px;
}

#filters {
    width: 100%;
    height: 150px;
}

#song-filters {
    width: 100%;
    display: grid;
    grid-template: repeat(3, 25px) / 120px minmax(50px, 180px) minmax(30px, 60px);
    gap: 8px 12px;
}

#day-filters {
    width: 100%;
}

#song-info {
    width: 100%;
}

#main {
    margin: auto;
    text-align: center;
}

#main-graph, #canvas {
    width: 100%;
    height: 100%;
}

@media (min-width:530px) {
    #content-container {
        width: 80%;
    }
}

@media (min-width:1000px) {
    #content-container {
        width: 65%;
    }
    #filters {
        height: 100px;
    }
    #song-filters {
        width: 50%;
        float: left;
    }
    #day-filters {
        width: 50%;
        float: right;
    }
}